<header>
  <nav id="navbar" class="navbar navbar-light navbar-nav">
      <div class="navbar-menu">
        {% if page.title != "about" %}
        <h4><a href="{{ site.url }}/">
         {% if site.title == blank %}{{ site.title }}{% else %}<span class="title">{{ site.first_name }}</span> {{ site.last_name }}{% endif %}
        </a></h4>
        <p>{{ site.description }}</p>
        {% endif %}
        <!-- About -->
        <li class="nav-item {% if page.title == 'about' %}active{% endif %}">
          <a class="nav-link" href="{{ '/' | relative_url }}">
            about
            {% if page.title == "about" %}
              <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        {% if site.blog_name %}
        <!-- Blog -->
        <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
          <a class="nav-link" href="{{ '/blog/' | relative_url }}">
            blog
            {% if page.title == "blog" %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        {% endif %}
        <!-- Other pages -->
        {% assign sorted_pages = site.pages | sort: "title" %}
        {% for p in sorted_pages %}
        {% if p.nav and p.autogen == nil %}
        <li class="nav-item {% if page.title == p.title %}active{% endif %}">
            <a class="nav-link" href="{{ p.url | relative_url }}">
              {{ p.title }}
              {% if page.title == p.title %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
        </li>
        {% endif %}
        {% endfor %}
      </div>
      <div class="navbar-foot">
        {% if site.show_social_icons %}
          <!-- Social Icons -->
            {% include social.html %}
        {% endif %}
        {% if site.enable_darkmode %}
          <div class = "toggle-container text-center">
            <a id = "light-toggle">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
            </a>
          </div>
        {% endif %}
      </div>
  </nav>
</header>
