/******************************************************************************
 * Content
 ******************************************************************************/

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
}

@media (min-width: 600px) {
  body {
    flex-direction: row;
  }

  .navbar-bg {
    height: 100vh;
    flex: 1 1 10rem;
    min-width: 10rem;
    background-image: url("/assets/img/profile_beach.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  .content-col {
    flex: 1 1 auto;
  }
}

.content-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow-y: scroll;

    // background-color: yellow;
}

.navbar {
  height: inherit;
  width: inherit;

  background-color: var(--global-mask-color);
  box-shadow: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  padding: 10%;
}

#content {
  // background-color: green;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;

  transition: all 0.4s;
}

footer {
  border-top: 1px solid $grey-color-light;
  padding: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
  // background-color: blue;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 10px;
  // padding-right: 5px;
}
