/******************************************************************************
 * Content
 ******************************************************************************/

body {
    max-width: 100%;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
}

// .container {
//   // max-width: $max-content-width;
// }

// Profile
.profile {
  img {
    width: 100%;
  }
}
