/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/



// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #CC5801 !default;
$orange-color-light:  #F29106 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$blue-grey-color:      #283046   !default;
$blue-grey-color-darker: darken($blue-grey-color, 5%);
$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);
$grey-color-dark-lighter: lighten($grey-color-dark, 5%);

$white-color: #ffffff !default;
$white-color-darker: darken($white-color, 5%);
$black-color: #000000 !default;

$blue-color-light: rgba(102, 178, 255, 0.3);
$blue-color-light-darker: rgba(40, 48, 70, 0.5);
// rgba(255, 178, 102, 0.15);
// rgba(255, 128, 0, 0.15);
// rgba(0, 0, 0, 0.2);
//rgba(0, 0, 204, 0.3);

$navbar-width: 20% //fraction of 12
