<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body>
    <div class="row d-flex flex-row">
      <div class="col-3">
        {% include header.html %}
      </div>
      <div class="col-9">
        <div class="content-col">
          <div id="content" class="flex-grow-1">
            {{ content }}
          </div>
          <div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>
  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
